header {
  padding: 50px;
  border-bottom: 1px solid grey;
  text-align: center;
}

article h3 {
  text-align: center;
  padding: 20px;
}

article input {
  width: 50%;
  height: 35px;
  border-radius: 5px;
}

#left_nav {
  float: left;
  height: 500px;
  width: 10%;
}

#right_nav {
  float: right;
  height: 500px;
  width: 10%;
}

#center_content {
  width: 80%;
  height: 500px;
  float: left;
  padding: 20px;
}

#search {
  padding: 40px;
  text-align: center;
}

table {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: medium;
  text-align: center;
}
